.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }
  
  .companyInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .imageContainer {
    margin-right: 20px;
  }
  
  .info {
    text-align: left;
  }
  
//   h1 {
//     font-size: 32px;
//   }
  
//   p {
//     margin-bottom: 20px;
//   }
  